<p class="past-paragraph">
    Hi! My name is Gabe and I write software that place nice with the real world.
    Through IOT, Web Applications, or simple command line tools we can automate, display, or 
    answer just about anything. I was first introduced to programming in 2014 with a high school
    robotics challenge on the VEX platform, and have been programming as a hobby or professionally
    since.
</p>
<p class="current-life">
    As of today I have had the privilage of working in a variety of industries, from aerospace communication 
    technology at <span>Thinkom</span> and Business Intelligence software at Exago, to cutting edge research and development
    at <span>MIT's Lincoln labs</span> and <span>MITRE</span>. My main focus currently is creating experimental cybersecurity applications
    and training environments using NodeJS, Python, and Angular.
</p>
<p class="technology">
    Here are some of the technologies I have been working with:
</p>
<div class="tech-list">
    <li>
        <ul>Python</ul>
        <ul>Typescript</ul>
        <ul>Angular</ul>
        <ul>NodeJS</ul>
        <ul>Apache Kafka</ul>
        <ul>Redis</ul>
        <ul>MySQL</ul>
    </li>
</div>
